<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CocoonTuner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CocoonTuner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CocoonTuner.Properties.Settings>
            <setting name="Ip" serializeAs="String">
                <value>192.168.178.35</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Schwarze Welle</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value>http://85.25.43.132:7500</value>
            </setting>
            <setting name="Type" serializeAs="String">
                <value>0</value>
            </setting>
        </CocoonTuner.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CocoonTuner.Properties.Settings>
            <setting name="UserAgent" serializeAs="String">
                <value>Cocoon 1.0.5 rv:4382 (iPhone; iPhone OS 7.0.4; de_DE)</value>
            </setting>
            <setting name="CocoonUrl" serializeAs="String">
                <value>http://{0}:4001/goform/formAppCommand.xml</value>
            </setting>
        </CocoonTuner.Properties.Settings>
    </applicationSettings>
</configuration>